src/META-INF/wsdl/localhost_8080/RassusServer/Server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dz1.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dz1.me.org/" name="Server">
<types>
<xsd:schema>
<xsd:import namespace="http://dz1.me.org/" schemaLocation="http://localhost:8080/RassusServer/Server?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="searchNeighbour">
<part name="parameters" element="tns:searchNeighbour"/>
</message>
<message name="searchNeighbourResponse">
<part name="parameters" element="tns:searchNeighbourResponse"/>
</message>
<message name="storeMeasurment">
<part name="parameters" element="tns:storeMeasurment"/>
</message>
<message name="storeMeasurmentResponse">
<part name="parameters" element="tns:storeMeasurmentResponse"/>
</message>
<portType name="Server">
<operation name="add">
<input wsam:Action="http://dz1.me.org/Server/addRequest" message="tns:add"/>
<output wsam:Action="http://dz1.me.org/Server/addResponse" message="tns:addResponse"/>
</operation>
<operation name="register">
<input wsam:Action="http://dz1.me.org/Server/registerRequest" message="tns:register"/>
<output wsam:Action="http://dz1.me.org/Server/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="searchNeighbour">
<input wsam:Action="http://dz1.me.org/Server/searchNeighbourRequest" message="tns:searchNeighbour"/>
<output wsam:Action="http://dz1.me.org/Server/searchNeighbourResponse" message="tns:searchNeighbourResponse"/>
</operation>
<operation name="storeMeasurment">
<input wsam:Action="http://dz1.me.org/Server/storeMeasurmentRequest" message="tns:storeMeasurment"/>
<output wsam:Action="http://dz1.me.org/Server/storeMeasurmentResponse" message="tns:storeMeasurmentResponse"/>
</operation>
</portType>
<binding name="ServerPortBinding" type="tns:Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchNeighbour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeMeasurment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Server">
<port name="ServerPort" binding="tns:ServerPortBinding">
<soap:address location="http://localhost:8080/RassusServer/Server"/>
</port>
</service>
</definitions>